* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
}

/* shared */
a {
  text-decoration: none;
}

.btn {
  color: white;
}

.btn:hover {
  color: red;
}

/* section1 */
.section1 {
  background-image: url("../Assets/Hero-bg.png");
  max-height: 698px;
  max-width: 1440px;
  margin: 0 auto;
}
.sec1div1 {
  max-width: 1140px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

nav h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: rgb(78, 71, 255);
}
nav button {
  height: 48px;
  width: 132px;
  background-color: rgb(78, 71, 255);
  font-weight: 700;
  border: 0;
  border-radius: 10px;
}

.div1 {
  text-align: center;
  margin: 0px 20px;
  padding: 152px 150px;
}
.div1 p {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 65px;
  color: #252432;
  margin-bottom: 16px;
}

.div1 button {
  height: 48px;
  width: 172px;
  background-color: rgb(78, 71, 255);
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  margin-top: 27px;
}
/* section2 */
.section2 {
  max-width: 1440px;
  margin: 0 auto;
}

.sec2div2 {
  max-width: 1140px;
  margin: 116px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec2div3 h1 {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 16px;
}
.sec2div3 p {
  font-family: "Raleway";
  color: #b5b3ce;
  font-size: 24px;
  margin-bottom: 16px;
}
.sec2div3 button {
  height: 48px;
  width: 229px;
  background-color: rgb(78, 71, 255);
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  margin-top: 27px;
}

.sec2div2 img {
  max-width: 403px;
  max-height: 328px;
  border-radius: 48px;
}
/* section3 */

.section3 {
  max-width: 1440px;
  margin: 0 auto;
}

.sec3div1 {
  max-width: 1140px;
  max-height: 306px;
  margin: 116px auto;
  background: #f0ecf8;
  border-radius: 24px;
  padding: 50px 0;
}

.sec3title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 38px;
  color: #252432;
  text-align: center;
}

.sec3div2 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 158px;
}

.sec3h1 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: rgb(78, 71, 255);
}

.sec3p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #675858;
}
/* section4 */
.section4 {
  max-width: 1440px;
  margin: 0 auto;
}

.sec4div1 {
  max-width: 1140px;
  max-height: 306px;
  margin: 100px auto;

  padding: 50px 0;
}
.sec4title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  text-align: center;
  margin-bottom: 50px;
}

.sec4div2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.sec4div3 {
  background: rgb(250, 246, 246);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 24px;
  max-height: 243px;
  width: 400px;
}

.sec4h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Raleway";
  margin-top: 24px;
  margin-bottom: 10px;
}
.sec4p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
}
.reviewrh3 {
  font-size: 16;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #9c9ca3;
}
.reviewrh4 {
  font-size: 16;
  font-family: "Inter", sans-serif;
  color: #cbcbcb;
  font-weight: normal;
}
